.medium-button{
  background-color: orange;
  border-color: orange;
  color: white;
  font-size: 15px;
  width: 10rem;
  padding: 10px;
  border-radius: 5px;
  justify-content:center;
  margin: 10px 0px;
  cursor: pointer;
}